<div class='container-fluid  p-5'>
  <div class='row d-none d-md-block'>
    <h1 class='text-center'>
      What is Hybrid Bike ?
    </h1>

    <p style='font-size: larger;'>
      Hybrid bicycles blend characteristics from more specialized road bikes, touring bikes and mountain bikes.The
      resulting "hybrid" is a general-purpose bike that can
      tolerate a wide range of riding conditions and applications. Their stability, comfort and ease of use make them
      popular with novice cyclists, casual riders, commuters,
      and children.Hybrids typically borrow the flat, straight handlebars and upright seating posture of a mountain
      bike, which many bicyclists find comfortable and intuitive.
      Hybrids also employ the lighter weight, thinner wheels and smooth tires of road bikes, allowing for greater speed
      and less exertion when riding on the road.Hybrid
      bikes often have places to mount racks and bags for transporting belongings, much like a touring bike.
    </p>
  </div>

  <div class='row mt-5'>
    {{#each hybrid}}
    <div class='col-12 col-md-6'>

      <div class='card border-0  shadow p-3 my-2 bg-body rounded'>
        <div class=' d-flex justify-content-between align-items-center'>
          <h1 class='card-title'>
            {{this.name}}
          </h1>
          <h4>
            {{this.brand}}
          </h4>
        </div>
        <a href="/product-spec/{{this._id}}"> <img src="data:{{this.image.0.contentType}};base64,{{this.image.0.image}}" alt=''
            class='card-img-top  img-fluid' /> </a>
        <div class='card-body d-flex justify-content-between align-items-center'>
           <button onclick="addToCart('{{this._id}}')" class="btn text-white fw-bold" style='background-color: #571d65;'>Add to cart</button>
          <h4>
            {{this.price}}
          </h4>

        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>