<section>
    <div class="container-xl">
        <div class="row my-3">
            <div class="col p-2 bg-light d-flex  align-items-center shadow-sm">
                <img src="/product-image/{{products.products._id}}.jpg" style="width: 20rem;" alt="">
                <div class="p-2">
                    <h4>{{products.products.name}}</h4>
                    <h6>{{products.products.brand}}</h6>
                    <p>{{products.products.color}}</p>
                    <h6>₹{{products.products.price}}</h6>
                    <P>status : <small class="text-success"> {{orders.status}} </small> <small> on {{orders.date}}</small></P>
                </div>
            </div>
            <div class="col p-2 bg-light mx-2 shadow-sm">
                <h4>Delivery Address</h4>

                <h6>Ali akbar</h6>
                <small>{{orders.delivery.address}}</small> <br> {{orders.deliveryDetails.landmark}} <br> {{orders.deliveryDetails.pincode}} ,
                    Kerala</small>
                <h6 class="mt-3">Phone number</h6>
                <small>{{orders.deliveryDetails.mobile}}</small>
                <P class="fw-bold text-primary text-end">Your order will be delivered within 7 days</P>
            </div>
        </div>
    </div>
</section>