<section>
    <div class="container-fluid ">

        <div class="row m-2">
            <div class=" col-3 col-md-1 d-flex flex-column justify-content-center align-items-center">




                <div class=" border border-2 border-secondary my-1 ">

                    <img src="data:{{product.image.0.contentType}};base64,{{product.image.0.image}}" alt="" 
                        class="img-fluid sub-image" role="button"/>
                </div>

                <div class=" border border-2 border-secondary my-1 ">

                    <img src="data:{{product.image.1.contentType}};base64,{{product.image.1.image}}" alt="" 
                        class="img-fluid sub-image" role="button"  />
                </div>

                <div class=" border border-2 border-secondary my-1 ">

                    <img src="data:{{product.image.2.contentType}};base64,{{product.image.2.image}}" alt="" 
                        class="img-fluid sub-image" role="button"  />
                </div>




            </div>
            <div class="col-9 col-md-7 d-flex align-items-center position-relative">
                <img src="data:{{product.image.0.contentType}};base64,{{product.image.0.image}}" class="img-fluid"
                    id="main-image">

            </div>
            <div class="col-12 col-md-4 ">
                <div class="cart mt-5">
                    <h4 class="py-2">{{product.brand}}</h4>
                    <h1 class="py-2">{{product.name}}</h1>
                    <h6 class="py-2">{{product.year}} <a href="" class="px-2 text-decoration-none ">123 Reviews/Write a
                            review </a>
                    </h6>

                    <h4 class="py-3 fs-4">₹ {{product.price}}</h4>

                    <p class="border-top border-2 py-2 fs-6 ">{{product.discription}}</p>

                    <h6 class="py-2">Model <span> {{product.model}}</span></h6>
                    <div class="">
                        <h6 class="pt-2" id="colorName">COLOR/ <small>{{product.color}}</small> </h6>
                        <div class="color-box" id="color-box"></div>
                        <a href='/cart' type='' class='btn proceed-btn my-5 px-5'>
                            Add to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row border-top border-2">
            <h1>Specification</h1>
        </div>
    </div>
</section>